version: 0.1.0.{build}

image: Visual Studio 2017
configuration: Release
platform: Any CPU
clone_depth: 1

branches:
  only:
  - master

cache:
- packages -> packages.config

test: off

assembly_info:
  patch: true
  file: Properties\AssemblyInfo.cs
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"

before_build:
- cmd: nuget restore

build:
  project: NFive.sln
  verbosity: minimal

after_build:
- cmd: 7z a nfive.zip *.dll nfive.yml __resource.lua config\

artifacts:
- path: nfive.zip
  name: NFive
