<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Server" version="1.0.0.752" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.12" targetFramework="net452" />
  <package id="MySql.Data.EntityFramework" version="8.0.12" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NFive.SDK.Core" version="0.1.0.11" targetFramework="net452" />
  <package id="NFive.SDK.Plugins" version="0.1.0.7" targetFramework="net452" />
  <package id="NFive.SDK.Server" version="0.1.0.11" targetFramework="net452" />
  <package id="SemanticVersioning" version="1.2.0" targetFramework="net452" />
  <package id="YamlDotNet" version="5.2.0" targetFramework="net452" />
</packages>