<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net452" />
  <package id="CitizenFX.Core.Server" version="1.0.1633" targetFramework="net452" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net452" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.10.0" targetFramework="net452" />
  <package id="Griffin.Container" version="1.1.9" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="2019.1.3" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net452" />
  <package id="MySql.Data.EntityFramework" version="8.0.17" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="NFive.SDK.Core" version="0.1.0.48" targetFramework="net452" />
  <package id="NFive.SDK.Plugins" version="0.1.0.36" targetFramework="net452" />
  <package id="NFive.SDK.Server" version="0.1.0.66" targetFramework="net452" />
  <package id="SemanticVersioning" version="1.2.1" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net452" />
  <package id="YamlDotNet" version="7.0.0" targetFramework="net452" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.10.3" targetFramework="net452" />
</packages>