name: CI

on:
  push:
    branches:
      - "**"
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - "**"

jobs:
  calculate-version:
    name: Calculate Version
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitversion.outputs.semVer }}

    steps:
      - uses: actions/checkout@v2.4.2
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: "5.x"

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7
        with:
          useConfigFile: true
          configFilePath: ./.github/version.yml

  build:
    runs-on: windows-latest
    needs: calculate-version
    env:
      SEMVER: ${{ needs.calculate-version.outputs.semVer }}

    steps:
      - uses: actions/checkout@v2.4.2

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.6

      - name: Restore dependencies
        run: nuget restore NFive.sln

      - name: Build the solution
        run: msbuild NFive.sln /p:Configuration=Release /p:Outdir=Build

      - name: Prepare build artifact
        shell: pwsh
        run: |
          New-Item "Build" -itemType Directory
          Copy-Item -Path ".\Server\Build\*.dll" -Destination ".\Build" -PassThru -Force -Exclude CitizenFX.Core.Server.dll 
          Copy-Item -Path ".\Client\Build\*.dll" -Destination ".\Build" -PassThru -Force -Exclude CitizenFX.Core.Client.dll
          Copy-Item -Path ".\lib\*.dll" -Destination ".\Build" -PassThru -Force
          Copy-Item .\README.md,.\LICENSE,.\nfive.yml,.\nfive.lock,.\fxmanifest.lua,.\index.html -PassThru -Destination ".\Build"
          Copy-Item .\config\* -Destination ".\Build\config" -PassThru 

      - name: Attach Zip as build artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: NFive-${{ env.SEMVER }}
          path: Build